.keys {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.key {
	border: 1px solid #454d54;
	border-radius: 0.1rem;
	color: #454d54;
	background-color: transparent;
	background-image: none;
	margin: 1rem;
	font-size: 1.5rem;
	padding: .7rem 1rem;
	width: 100%;
	text-align: center;
	transition: all 0.07s;
}
.playing {
	transform: scale(1.1);
	/* background-color: #454d54;
	color: white; */
	border-color: yellow;
}
kbd {
	display: block;
	font-size: 24px;
	text-transform: uppercase;
}
